{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="container">

    <h1>Program maker</h1>
    <h2>Templates</h2>
    {% if templates: %}
        {% for template in templates: %}
           <p><a href="{{ url_for('show_program_template', program_template_id=template.id) }}">{{ template.name }}</a></p>
        {% endfor %}
    {% else: %}
        <p>You have not added any templates yet.</p>
    {% endif %}
    {{ wtf.quick_form(form, novalidate=True, button_map={"create": "primary"}) }}
    <h2>Programs</h2>
    {% if programs: %}
        {% for program in programs: %}
           <p><a href="{{ url_for('show_program', program_id=program.id, week=1) }}">{{ program.name }}</a></p>
        {% endfor %}
    {% else: %}
        <p>You have not added any programs yet.</p>
    {% endif %}
</div>
{% include "footer.html" %}