{% extends "base.html" %}
{% block page_content %}

    <div class="landing">
        <div class="banner-container text-center">
            <h1 id="banner">Create custom programs in just a few clicks</h1>
        </div>
    </div>

    <div class="container-fluid login-container">

        <div class="container-fluid text-center" id="login">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                   <p class="flash">{{ message }}</p>
                  {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="" method="post" role="form" class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal">User login</h1>
                {{ form.hidden_tag() }}
                {{ form.email(class_="form-control squared-bottom", placeholder="Email address") }}
                {{ form.password(class_="form-control squared-top", placeholder="Password") }}
                {{ form.login(class_="btn btn-lg btn-primary btn-block") }}
            </form>
            <p>New? <a href="{{ url_for('register') }}">Register here</a></p>

        </div>

    </div>

{% endblock %}