{% include "header.html" %}
<div class="container">

    <h1>Program maker</h1>
    <h2>Make program</h2>

<form action="" method="post" role="form">
    {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name }}
    <h3>Set dates</h3>
    {{ form.starting_date.label }} {{ form.starting_date }}
    </br>
    {{ form.weeks.label }} {{ form.weeks }}
    <h3>Set starting weights and increments</h3>
    {% for nested in form.exercises %}
        {{ nested.label }}{{ nested }}
    {% endfor %}
    {{ form.make(class_="btn btn-primary") }}
    </br>

</form>

</div>
{% include "footer.html" %}