{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "header.html" %}

    <form action="" method="post" role="form">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                <h2 class="card-title">Make program</h2>
                {{ form.hidden_tag() }}
                {{ form.name.label }} {{ form.name(class_="form-control") }}
                </br>
                {{ form.starting_date.label }} {{ form.starting_date(class_="form-control") }}
                </br>
                {{ form.weeks.label }} {{ form.weeks(class_="form-control") }}
            </div>
            </div>
            <div class="col-lg-6">
                <div class="card starting-weights-card">
                <h2 class="card-title">Starting weights</h2>
                {% for nested in form.exercises %}
                    {{ nested.label }}
                    {{ nested }}
                    <br class="custom-divider">
                {% endfor %}
                {{ form.make(class_="btn btn-primary") }}
                </br>
                </br>
            </div>
        </div>
    </form>
</div>


<div class="text-center">
    <a href="{{url_for('show_program_template', program_template_id=template_id)}}" class="btn btn-danger btn-lg" role="button">Cancel</a>
</div>


{% include "footer.html" %}
{% endblock %}