{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="container">

    <h1>Program maker</h1>
    <p><a href="{{url_for('dashboard')}}"> << All programs</a></p>
    <h2>{{program.name}}</h2>
    <h3>Week {{ current_week }} of {{ weeks }}</h3>

    <table class="table">
        <thead>
            <tr>
                {% for day in days_of_the_week: %}
                <th>{{day}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% set weekly_workouts = [monday_workouts, tuesday_workouts, wednesday_workouts, thursday_workouts, friday_workouts, saturday_workouts, sunday_workouts] %}
        {% for row in range(number_of_rows): %}
            <tr>
                {% for workouts in weekly_workouts: %}
                    {% if workouts and row < workouts|count %}
                        <td class="no-padding-please">
                            <table class="table table-striped no-bottom-margin">
                                <thead>
                                    <tr>
                                        <th><a href="{{ url_for('show_workout', workout_id=workouts[row].id) }}">{{ workouts[row].name}}</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for exercise in workouts[row].exercises: %}
                                        {% set weights = [] %}
                                        {% for set in exercise.sets: %}
                                            {% do weights.append(set.weight) %}
                                        {% endfor %}
                                        <tr>
                                            <td>{{exercise.type}} x {{exercise.sets|count}} x {{weights | max }} lbs. (max)</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </td>
                    {% else %}
                        <td class="no-padding-please"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

      <div class="btn-group mr-2" role="group" aria-label="First group">
        {% for week in range(1, (weeks + 1)): %}
            <a type="button" class="btn btn-secondary" href="{{url_for('show_program', program_id=program.id, week=week)}}">{{ week }}</a>
        {% endfor %}
      </div>

    </div>

    <h3>Delete</h3>
    <a class="btn btn-danger" href="{{url_for('delete_program', program_id=program.id)}}">Delete</a>

</div>
{% include "footer.html" %}