{% extends 'bootstrap/base.html' %}
{% block title %}MUSQLO{% endblock %}
{% block content %}
{% include "header.html" %}

<ol class="breadcrumb">
  <li><a href="{{url_for('dashboard')}}">Templates</a></li>
  <li class="active">{{ template.name }}</li>
</ol>

<div class="card">
    <h2 class="card-title">{{ template.name }}</h2>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
        {% for n in range(workout_layers|length):%}
            <tr>
                {% for element in workout_layers[n]: %}
                    {% if element is integer: %}
                        <td></td>
                    {% else: %}
                        <td><a href=" {{ url_for('show_workout_template', workout_template_id=element.id) }}"><b>{{element.name}}</b></a></td>
                    {% endif %}
                {% endfor %}
            </tr>

            {% for row in exercise_layers[n]:%}
                <tr>
                    {% for cell in row %}
                         {% if cell is integer: %}
                            <td></td>
                        {% else: %}
                            <td>{{cell}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>


    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                 <h2 class="card-title">Add new workout</h2>
                    <form action="" method="post" role="form">
                    {{ form.hidden_tag() }}
                    <p>Check all that apply:</p>
                    {% for choice in form.days %}
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                        </br>
                    {% endfor %}
                    </br>
                    <div class="input-group">
                        <span class="input-group-btn">
                        {{ form.add(class_="btn btn-primary") }}
                        </span>
                        {{ form.name(class_="form-control", placeholder="Workouts's name") }}
                    </div>
                    </form>
            </div><!--end card -->
        </div><!--end col -->

        <div class="col-lg-6">
            <div class="card">
                <h2 class="card-title">Make program</h2>
                <p>Generate a program based on this template.</p>
                <a class="btn btn-primary" href="{{url_for('make_program', program_template_id=template.id)}}">Make</a>
            </div><!--end card -->
        </div><!--end col -->

    </div><!--end row -->
    <div class="text-center">
        <a href="{{url_for('delete_program_template', program_template_id=template.id)}}" class="btn btn-danger btn-lg" role="button">Delete template</a>
    </div>
{% include "footer.html" %}
{% endblock %}