{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="container">

    <h1>Program maker</h1>
        <p><a href="{{url_for('show_program', program_id=workout.parent_program.id, week=workout.week)}}"> << All workouts</a></p>
    <h2>{{ workout.name }}</h2>
    <table class="table table-striped">
        {% for exercise in workout.exercises: %}
            <thead>
                <tr>
                    <th scope="col">{{exercise.type}} x {{ exercise.sets|count }} sets</th>
                    <th scope="col">Reps</th>
                    <th scope="col">Weight</th>
                </tr>
            </thead>
            <tbody>
            {% for set in exercise.sets|reverse: %}
                <tr>
                    <td></td>
                    <td>{{set.reps}}</td>
                    <td>{{set.weight}} lbs.</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endfor %}
    </table>
    <h3>Delete workout</h3>
    <a class="btn btn-danger" href="{{url_for('delete_workout', workout_id=workout.id, week=workout.week)}}">Delete</a>

</div>
{% include "footer.html" %}